<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RouteServlet</servlet-name>
        <servlet-class>controller.RouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayTicketServlet</servlet-name>
        <servlet-class>controller.PayTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RouteServlet</servlet-name>
        <url-pattern>/RouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayTicketServlet</servlet-name>
        <url-pattern>/PayTicketServlet</url-pattern>
    </servlet-mapping>
</web-app>
